/.config
/.config.old
/.version
/Make.defs
/setenv.sh
/setenv.bat
/_SAVED_APPS_config
/*.map
/*.elf
/*.srec
/*.bin
/*.ihx
/*.hex
/pcode
/tags
/tizenrt
/tizenrt_NO_XIP
/tizenrt_memstats.txt
/.appSpec
/*.log
/*.log.old
